@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteMaster.cshtml";
}

<!-- Content Start -->

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 class="display-3">@Model.Content.Headline</h1>

            @Model.Content.Bodytext
        </div>
    </div>
</div>
<hr class="my-4">
