<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsArea ANY>
<!ATTLIST newsArea id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1070" key="79c4841e-8f0b-481a-8a0b-a62d52e3c3bc" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-13T09:15:06" updateDate="2017-11-13T14:57:40" nodeName="Startpage" urlName="startpage" path="-1,1070" isDoc="" nodeType="1061" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1060" nodeTypeAlias="home">
    <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
    <headline><![CDATA[Home page]]></headline>
    <metaTitle><![CDATA[Home page]]></metaTitle>
    <metaDescription><![CDATA[THIS IS SPARTA]]></metaDescription>
    <homeImage><![CDATA[umb://media/03db1f48bf99452792d7bfa03fd713ff]]></homeImage>
    <companyEmail><![CDATA[info@eal.dk]]></companyEmail>
    <companyName><![CDATA[EAL]]></companyName>
    <contentPage id="1071" key="c1abaa07-6845-43e1-8e60-d87223be96cd" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2017-11-13T09:16:18" updateDate="2017-11-13T12:23:56" nodeName="About" urlName="about" path="-1,1070,1071" isDoc="" nodeType="1068" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1067" nodeTypeAlias="contentPage">
      <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
      <headline><![CDATA[About us]]></headline>
      <metaTitle><![CDATA[About page]]></metaTitle>
    </contentPage>
    <contentPage id="1072" key="86c70b67-9a4f-463b-ae73-617af83664d8" parentID="1070" level="2" creatorID="0" sortOrder="1" createDate="2017-11-13T10:11:10" updateDate="2017-11-13T11:00:58" nodeName="Contact" urlName="contact" path="-1,1070,1072" isDoc="" nodeType="1068" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1067" nodeTypeAlias="contentPage">
      <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
      <headline><![CDATA[Contact us]]></headline>
    </contentPage>
    <newsArea id="1079" key="d08b2f58-3485-4ec1-8cc6-13d72838fc4d" parentID="1070" level="2" creatorID="0" sortOrder="2" createDate="2017-11-13T10:44:29" updateDate="2017-11-13T13:13:08" nodeName="News" urlName="news" path="-1,1070,1079" isDoc="" nodeType="1078" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1077" nodeTypeAlias="newsArea">
      <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
      <headline><![CDATA[News area]]></headline>
      <news id="1091" key="22b61f5f-1419-4d53-9963-21439fd2a54c" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2017-11-13T12:36:52" updateDate="2017-11-13T13:38:41" nodeName="Third news item" urlName="third-news-item" path="-1,1070,1079,1091" isDoc="" nodeType="1087" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1086" nodeTypeAlias="news">
        <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
        <headline><![CDATA[Third news item]]></headline>
        <newsImage><![CDATA[umb://media/03db1f48bf99452792d7bfa03fd713ff]]></newsImage>
      </news>
      <news id="1092" key="f28dd91e-d960-44ae-907e-5e73d85dca13" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2017-11-13T13:13:02" updateDate="2017-11-13T18:58:34" nodeName="Forth news item" urlName="forth-news-item" path="-1,1070,1079,1092" isDoc="" nodeType="1087" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1086" nodeTypeAlias="news">
        <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
        <headline><![CDATA[Forth news item]]></headline>
        <newsImage><![CDATA[umb://media/03db1f48bf99452792d7bfa03fd713ff]]></newsImage>
      </news>
      <news id="1090" key="8f41485c-34c9-4944-b446-fdaefc16b87e" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2017-11-13T12:36:15" updateDate="2017-11-13T13:38:41" nodeName="Second news item" urlName="second-news-item" path="-1,1070,1079,1090" isDoc="" nodeType="1087" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1086" nodeTypeAlias="news">
        <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
        <headline><![CDATA[Second news item]]></headline>
        <newsImage><![CDATA[umb://media/03db1f48bf99452792d7bfa03fd713ff]]></newsImage>
      </news>
      <news id="1089" key="070d4682-f545-450f-95e3-d0987c52a0e6" parentID="1079" level="3" creatorID="0" sortOrder="3" createDate="2017-11-13T12:34:14" updateDate="2017-11-13T18:58:34" nodeName="First news item" urlName="first-news-item" path="-1,1070,1079,1089" isDoc="" nodeType="1087" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1086" nodeTypeAlias="news">
        <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
        <headline><![CDATA[First news item]]></headline>
        <excerpt><![CDATA[Hey, look at me when I'm talking to you, motherfucker.]]></excerpt>
        <newsImage><![CDATA[umb://media/03db1f48bf99452792d7bfa03fd713ff]]></newsImage>
      </news>
      <news id="1095" key="89ab36de-a144-47cd-b69e-89df9ff23841" parentID="1079" level="3" creatorID="0" sortOrder="4" createDate="2017-11-13T18:56:19" updateDate="2017-11-13T18:57:57" nodeName="Fifth news item" urlName="fifth-news-item" path="-1,1070,1079,1095" isDoc="" nodeType="1087" creatorName="Kristian Guld" writerName="Kristian Guld" writerID="0" template="1086" nodeTypeAlias="news">
        <bodyText><![CDATA[<p><span>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</span></p>]]></bodyText>
        <headline><![CDATA[Fifth news item]]></headline>
        <newsImage><![CDATA[umb://media/03db1f48bf99452792d7bfa03fd713ff]]></newsImage>
      </news>
    </newsArea>
  </home>
</root>