@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;

<div class="container">
    <h2>Featured News</h2>
    <div class="row">
        @{
            //Get the higest ordered news
            var news = Model.Content.Featured;
            //present the news
            foreach (var item in news)
            {
                try
                {
                    var image = Umbraco.Media(item.GetPropertyValue("newsImage"));
                }
                catch (Exception)
                {

                    throw;
                }
                <div class="col-md-4">
                    <h2>@item.GetPropertyValue("Headline")</h2>
                    <hr />
                    <p>@item.GetPropertyValue("newsdate")</p>
                    <p>@item.GetPropertyValue("Excerpt")</p>
                    <a class="btn btn-primary" href="@item.Url">Read more</a>
                </div>
            }
        }
    </div>
</div>